@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
    --white: #FFFFFF;
    --mine-shaft-10: #F8F8F8;
    --mine-shaft-30: #E1E1E1;
    --mine-shaft-80: rgba(148, 148, 148, 1);
    --mine-shaft-100: #757575;
    --mine-shaft-400: rgba(80, 80, 80, 1);
    --mine-shaft-700: #262626;

    --persian-blue-10: rgba(248, 247, 253, 1);
    --persian-blue-300: #5946E4;
    --persian-blue-600: #321BDE;
    --persian-blue-700: #2715B0;
    --persian-blue-800: #180D6E;


    --alizarin-crimson-10: rgba(250, 236, 227, 1);
    --alizarin-crimson-30: rgba(244, 202, 182, 1);
    --alizarin-crimson-400: rgba(222, 50, 27, 1);
    --alizarin-crimson-500: rgba(173, 34, 19, 1);


    background-color: var(--mine-shaft-10);
}


* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;

}

body {
    font-family: "Roboto", sans-serif;
}

p {
    margin: 0;
}

h1 {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--mine-shaft-700);
}

h2 {
    font-size: 1.25rem;
    font-weight: 500;
    margin: 0;
    line-height: 1.75rem;
    color: var(--mine-shaft-700);
    letter-spacing: 0.15px;
}

h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.15px;
    color: var(--mine-shaft-100)
}

.caption {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: var(--mine-shaft-700);
}

.initial-client {
    width: 2rem;
    height: 2rem;
    background-color: var(--persian-blue-10);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 1rem;
    text-transform: uppercase;
    color: var(--persian-blue-800);
    font-weight: 500;
    min-width: 32px;
}

.sub2 {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.1px;
    color: var(--mine-shaft-400);
}